In [118]:
import pandas as pd
import numpy as np

pd.options.display.float_format = '{:.3f}'.format

In [119]:
items = pd.read_csv('DNC_order_items_dataset.csv')
reviews = pd.read_csv('DNC_order_reviews_dataset.csv')
orders = pd.read_csv('DNC_orders_dataset.csv')
products = pd.read_csv('DNC_products_dataset.csv')

In [120]:
lista = [items, reviews, orders, products]
for df in lista:
  df.drop(columns = df.columns[0], inplace = True)

In [121]:
reviews.head()

,review_id,order_id,review_score
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5

In [122]:
items.head()

,order_id,order_item_id,product_id,price
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,58.900
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,239.900
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,199.000
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,12.990
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,199.900

In [123]:
orders.head()

,order_id,customer_id,order_status
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered

In [124]:
products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.000,287.000,225.000,16.000,10.000,14.000
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.000,276.000,1000.000,30.000,18.000,20.000
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.000,250.000,154.000,18.000,9.000,15.000
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.000,261.000,371.000,26.000,4.000,26.000
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.000,402.000,625.000,20.000,17.000,13.000

In [125]:
reviews.isna().sum()

review_id       0
order_id        0
review_score    0
dtype: int64

In [126]:
reviews.groupby(by='order_id') \
.agg({'review_score':'sum'}) \
.sort_values('review_score', ascending = False)

                                  review_score
order_id
df56136b8031ecd28e200bb18e6ddb2e            15
c88b1d1b157a9999ce368f218a407141            13
bbf6a647ecc68aa5e79d2cd75ef44c68            10
77bd3f7f2fefbad1254911e90bc64158            10
2a680095a7549ad07085fb6863f91316            10
...                                        ...
4725eb9672221e03c250c9a5ff5736e7             1
188e0ceeddc1fff39d55d96545c912c2             1
86f54473ab658e573e101bb266ced50e             1
4729a8ef5b11ed2d8dc77d48deeeee04             1
8652f7789fe1585b439154b7ae0f4285             1

[98673 rows x 1 columns]

In [127]:
items.head()

,order_id,order_item_id,product_id,price
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,58.900
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,239.900
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,199.000
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,12.990
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,199.900

In [128]:
df = pd.merge(left=reviews , right=items , on = 'order_id', how='left')
df.head()

,review_id,order_id,review_score,order_item_id,product_id,price
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,1.000,fd25ab760bfbba13c198fa3b4f1a0cd3,185.000
1,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,2.000,fd25ab760bfbba13c198fa3b4f1a0cd3,185.000
2,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,1.000,be0dbdc3d67d55727a65d4cd696ca73c,79.790
3,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,1.000,d1c427060a0f73f6b889a5c7c61f2ac4,149.000
4,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,1.000,52c80cedd4e90108bf4fa6a206ef6b03,179.990

In [129]:
print(f'Shape left: {reviews.shape[0]}. Shape right: {items.shape[0]}. Shape depois do merge: {df.shape[0]}')

Shape left: 99224. Shape right: 112650. Shape depois do merge: 113131

In [130]:
melhores_avaliados = df.groupby(by='product_id', as_index = False) \
.agg({'review_score':'mean'}) \
.sort_values('review_score', ascending = False)
melhores_avaliados = melhores_avaliados.head(1000)

In [131]:
melhores_categorias = melhores_avaliados.merge(products, on='product_id', how='left')
melhores_categorias.head()

,product_id,review_score,product_category_name,product_name_lenght,product_description_lenght,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,00066f42aeeb9f3007548bb9d3f33c38,5.000,perfumaria,53.000,596.000,300.000,20.000,16.000,16.000
1,60314cbf527af04ebc935be7c02dc1cd,5.000,esporte_lazer,59.000,303.000,750.000,16.000,6.000,16.000
2,5fe23e6307c231e287f13c0a4be06c88,5.000,eletroportateis,55.000,2458.000,1350.000,52.000,25.000,29.000
3,5fe490e61e7a37f2f0d1ad1771ac027d,5.000,beleza_saude,48.000,469.000,750.000,22.000,8.000,12.000
4,c696cd2db7870be08c37822f7c0ef831,5.000,relogios_presentes,59.000,672.000,350.000,20.000,13.000,13.000

In [132]:
melhores_categorias = melhores_categorias[['product_id',	'review_score',	'product_category_name']]
melhores_categorias = melhores_categorias.groupby(by='product_category_name', as_index = False) \
.agg({'review_score':'mean', 'product_id' : 'nunique'}) \
.rename(columns = {'product_id':'Qtde SKUs'}) \
.sort_values('review_score', ascending = False)

In [133]:
melhores_categorias

                             product_category_name  review_score  Qtde SKUs
0                        agro_industria_e_comercio         5.000          3
44                                moveis_decoracao         5.000         68
32                  fashion_underwear_e_moda_praia         5.000          1
33                              ferramentas_jardim         5.000         22
34                                 fraldas_higiene         5.000          1
35                   industria_comercio_e_negocios         5.000          2
36                          informatica_acessorios         5.000         48
37                           instrumentos_musicais         5.000          8
38                               livros_importados         5.000          2
39                          livros_interesse_geral         5.000         10
40                                 livros_tecnicos         5.000          4
41                                malas_acessorios         5.000         13
42                                    market_place         5.000          5
43  moveis_cozinha_area_de_servico_jantar_e_jardim         5.000          3
45                               moveis_escritorio         5.000          4
30                                fashion_calcados         5.000          8
46                                   moveis_quarto         5.000          1
47                                     moveis_sala         5.000          5
48                                          musica         5.000          1
49                                       papelaria         5.000         32
50                                             pcs         5.000          1
51                                      perfumaria         5.000         32
52                                        pet_shop         5.000         22
53                     portateis_casa_forno_e_cafe         5.000          1
54                              relogios_presentes         5.000         32
55                         sinalizacao_e_seguranca         5.000          2
56                                       telefonia         5.000         28
57                                  telefonia_fixa         5.000          2
31                                 fashion_esporte         5.000          1
29                     fashion_bolsas_e_acessorios         5.000         25
1                                        alimentos         5.000          3
14                                 casa_construcao         5.000          3
2                                alimentos_bebidas         5.000          4
3                                            artes         5.000          2
4                               artes_e_artesanato         5.000          2
5                                 artigos_de_natal         5.000          1
6                                            audio         5.000          2
7                                       automotivo         5.000         73
8                                            bebes         5.000         26
9                                          bebidas         5.000          6
10                                    beleza_saude         5.000         86
11                                      brinquedos         5.000         45
12                                 cama_mesa_banho         5.000         75
13                                   casa_conforto         5.000          4
15                                    climatizacao         5.000          4
28                                   esporte_lazer         5.000         92
16                                  consoles_games         5.000         10
17               construcao_ferramentas_construcao         5.000         13
18              construcao_ferramentas_ferramentas         5.000          5
19               construcao_ferramentas_iluminacao         5.000          1
20                   construcao_ferramentas_jardim         5.000          4
21                construcao_ferramentas_seguranca         5.000          3
22                                      cool_stuff         5.000         20
23                                    dvds_blu_ray         5.000          5
24                                eletrodomesticos         5.000         10
25                              eletrodomesticos_2         5.000          1
26                                     eletronicos         5.000         12
27                                 eletroportateis         5.000          8
58                           utilidades_domesticas         5.000         75

In [134]:
compras = orders.merge(items, on='order_id', how='left')
compras = compras.merge(reviews, on='order_id', how='left')
compras = compras.merge(products, on='product_id', how='left')
compras.head()

,order_id,customer_id,order_status,order_item_id,product_id,price,review_id,review_score,product_category_name,product_name_lenght,product_description_lenght,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,1.000,87285b34884572647811a353c7ac498a,29.990,a54f0611adc9ed256b57ede6b6eb5114,4.000,utilidades_domesticas,40.000,268.000,500.000,19.000,8.000,13.000
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,1.000,595fac2a385ac33a80bd5114aec74eb8,118.700,8d5266042046a06655c8db133d120ba5,4.000,perfumaria,29.000,178.000,400.000,19.000,13.000,19.000
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,1.000,aa4383b373c6aca5d8797843e5594415,159.900,e73b67b67587f7644d5bd1a52deb1b01,5.000,automotivo,46.000,232.000,420.000,24.000,19.000,21.000
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,1.000,d0b61bfb1de832b15ba9d266ca96e5b0,45.000,359d03e676b3c069f62cadba8dd3f6e8,5.000,pet_shop,59.000,468.000,450.000,30.000,10.000,20.000
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,1.000,65266b2da20d04dbe00c5c2d3bb7859e,19.900,e50934924e227544ba8246aeb3770dd4,5.000,papelaria,38.000,316.000,250.000,51.000,15.000,15.000

In [135]:
cols = compras.columns.to_list()
cols = cols[0:9]
cols
compras = compras[cols]

In [136]:
compras['order_status'].value_counts()

delivered      110840
shipped          1197
canceled          711
unavailable       612
invoiced          366
processing        358
created             5
approved            3
Name: order_status, dtype: int64

In [137]:
compras[(compras['order_status'] == 'delivered') & (compras['review_score'].isnull())]

,order_id,customer_id,order_status,order_item_id,product_id,price,review_id,review_score,product_category_name
17,403b97836b0c04a622354cf531062e5f,738b086814c6fcc74b8cc583f8516ee3,delivered,1.000,638bbb2a5e4f360b71f332ddfebfd672,1299.000,NaN,NaN,construcao_ferramentas_construcao
356,4906eeadde5f70b308c20c4a8f20be02,4e7656e34357b93f14b40c6400ca3f6e,delivered,1.000,ee406bf28024d97771c4b1e8b7e8e219,144.990,NaN,NaN,cool_stuff
433,b7a4a9ecb1cd3ef6a3e36a48e200e3be,c3d8fc500d86b1c961ee144395c13a57,delivered,1.000,41171e11f920c47deb1809edda2bf09d,26.000,NaN,NaN,moveis_decoracao
441,59b32faedc12322c672e95ec3716d614,5baa82a2c45fa3220cb57d9881db3211,delivered,1.000,040f34fe061b6024771f641fe922e782,69.000,NaN,NaN,relogios_presentes
463,c2215076050fa358934105b15c34cf3b,19e7a88b34ef70d108e660c6eb33e82a,delivered,1.000,99a4788cb24856965c36a24e339b6058,89.900,NaN,NaN,cama_mesa_banho
...,...,...,...,...,...,...,...,...,...
113313,906a6b0a96d89ee226e4977e99b80b9e,274a720e69d300bc7696c8570f8978fe,delivered,1.000,8466762a9393a2b2b1de73f3cf6081a3,79.900,NaN,NaN,moveis_sala
113578,5333db16fe357175d39c82840dd3269d,7e008e5ec21e044fe30c34ec4e9d0747,delivered,1.000,4deb009c36a910076a023947a7929201,53.890,NaN,NaN,consoles_games
113579,5333db16fe357175d39c82840dd3269d,7e008e5ec21e044fe30c34ec4e9d0747,delivered,2.000,4deb009c36a910076a023947a7929201,53.890,NaN,NaN,consoles_games
113734,2f2df159f26ddb73d55ee72372200d3e,86a7245fffe6a418ca1658a13ecc4531,delivered,1.000,4052517cac9e78357d895976124f6972,150.000,NaN,NaN,eletronicos
113864,dff2b9b8d7cfc595836945e1443789c3,2436fb2666a65fbacae82532e797cabf,delivered,1.000,bfa0e398bef2d28bb421d42997982cab,219.990,NaN,NaN,NaN

In [138]:
compras = compras[compras['order_status'] == 'delivered']

In [139]:
gf = compras.groupby(by='product_id', as_index=False) \
.agg({'review_score':'mean'}) \
.rename(columns={'review_score':'Score_medio'})
compras = compras.merge(gf, on='product_id', how='left')
compras.head()

,order_id,customer_id,order_status,order_item_id,product_id,price,review_id,review_score,product_category_name,Score_medio
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,1.000,87285b34884572647811a353c7ac498a,29.990,a54f0611adc9ed256b57ede6b6eb5114,4.000,utilidades_domesticas,4.000
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,1.000,595fac2a385ac33a80bd5114aec74eb8,118.700,8d5266042046a06655c8db133d120ba5,4.000,perfumaria,4.433
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,1.000,aa4383b373c6aca5d8797843e5594415,159.900,e73b67b67587f7644d5bd1a52deb1b01,5.000,automotivo,5.000
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,1.000,d0b61bfb1de832b15ba9d266ca96e5b0,45.000,359d03e676b3c069f62cadba8dd3f6e8,5.000,pet_shop,4.250
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,1.000,65266b2da20d04dbe00c5c2d3bb7859e,19.900,e50934924e227544ba8246aeb3770dd4,5.000,papelaria,3.725

In [140]:
compras[compras['review_score'].isnull()]

,order_id,customer_id,order_status,order_item_id,product_id,price,review_id,review_score,product_category_name,Score_medio
16,403b97836b0c04a622354cf531062e5f,738b086814c6fcc74b8cc583f8516ee3,delivered,1.000,638bbb2a5e4f360b71f332ddfebfd672,1299.000,NaN,NaN,construcao_ferramentas_construcao,4.333
346,4906eeadde5f70b308c20c4a8f20be02,4e7656e34357b93f14b40c6400ca3f6e,delivered,1.000,ee406bf28024d97771c4b1e8b7e8e219,144.990,NaN,NaN,cool_stuff,4.149
420,b7a4a9ecb1cd3ef6a3e36a48e200e3be,c3d8fc500d86b1c961ee144395c13a57,delivered,1.000,41171e11f920c47deb1809edda2bf09d,26.000,NaN,NaN,moveis_decoracao,5.000
428,59b32faedc12322c672e95ec3716d614,5baa82a2c45fa3220cb57d9881db3211,delivered,1.000,040f34fe061b6024771f641fe922e782,69.000,NaN,NaN,relogios_presentes,1.000
449,c2215076050fa358934105b15c34cf3b,19e7a88b34ef70d108e660c6eb33e82a,delivered,1.000,99a4788cb24856965c36a24e339b6058,89.900,NaN,NaN,cama_mesa_banho,3.922
...,...,...,...,...,...,...,...,...,...,...
110082,906a6b0a96d89ee226e4977e99b80b9e,274a720e69d300bc7696c8570f8978fe,delivered,1.000,8466762a9393a2b2b1de73f3cf6081a3,79.900,NaN,NaN,moveis_sala,3.857
110342,5333db16fe357175d39c82840dd3269d,7e008e5ec21e044fe30c34ec4e9d0747,delivered,1.000,4deb009c36a910076a023947a7929201,53.890,NaN,NaN,consoles_games,3.625
110343,5333db16fe357175d39c82840dd3269d,7e008e5ec21e044fe30c34ec4e9d0747,delivered,2.000,4deb009c36a910076a023947a7929201,53.890,NaN,NaN,consoles_games,3.625
110494,2f2df159f26ddb73d55ee72372200d3e,86a7245fffe6a418ca1658a13ecc4531,delivered,1.000,4052517cac9e78357d895976124f6972,150.000,NaN,NaN,eletronicos,4.667
110618,dff2b9b8d7cfc595836945e1443789c3,2436fb2666a65fbacae82532e797cabf,delivered,1.000,bfa0e398bef2d28bb421d42997982cab,219.990,NaN,NaN,NaN,5.000

In [141]:
compras["review_score"] = compras["review_score"].fillna(compras["Score_medio"])
nao_avaliados = compras[compras['review_score'].isnull()]
compras = compras[~compras['review_score'].isnull()]

In [142]:
mais_populares = compras.groupby('product_id', as_index=False) \
.agg('count') \
.sort_values('order_id', ascending = False)

mais_populares = mais_populares[mais_populares.columns[0:2]] \
.rename(columns={'order_id':'qtde_vendida'}) \
.merge(products[['product_id', 'product_category_name']], on='product_id', how='left')
mais_populares = mais_populares.head(1000)

In [143]:
melhores_clientes = compras.groupby('customer_id', as_index=False) \
.agg('count') \
.sort_values('order_id', ascending = False)

melhores_clientes = melhores_clientes[melhores_clientes.columns[0:2]] \
.rename(columns={'order_id':'qtde_compras'})
melhores_clientes = melhores_clientes.head(1000)

In [144]:
amostra = compras[compras['product_id'].isin(mais_populares['product_id'])]
amostra.shape[0]

38884

In [145]:
matriz = amostra[['product_id', 'customer_id', 'review_score']] \
.pivot_table(index="customer_id", columns="product_id", values="review_score").fillna(0)

In [146]:
from sklearn.metrics.pairwise import cosine_similarity
import random

matriz_similaridade_produto = cosine_similarity(matriz.T)

In [147]:
mais_populares.head()

                         product_id  qtde_vendida product_category_name
0  aca2eb7d00ea1a7b8ebd4e68314663af           520      moveis_decoracao
1  422879e10f46682990de24d770e7f83d           487    ferramentas_jardim
2  99a4788cb24856965c36a24e339b6058           480       cama_mesa_banho
3  368c6c730842d78016ad823897a372db           391    ferramentas_jardim
4  389d119b48cf3043d311335e499d9c6b           390    ferramentas_jardim

In [148]:
c = matriz.columns.tolist()

In [149]:
matriz_similaridade_produto = pd.DataFrame(matriz_similaridade_produto, index=c, columns = c)

In [150]:
matriz_similaridade_produto

,008cff0e5792219fae03e570f980b330,00ba6d766f0b1d7b78a5ce3e1e033263,00de7f393d962717eeeb2d7131a40dba,014a8a503291921f7b004a5215bb3c36,0152f69b6cf919bcdaf117aa8c43e5a2,016711f78a6a87696645db0a6a834826,017692475c1c954ff597feda05131d73,01c9a70868bec5b748c67fcc26ce5895,027cdd14a677a5834bc67a9789db5021,02ce467092b184e71d3967d29110adc1,...,fdd84aefb08c8f8225e0b8c97429d53b,fe01b643060a6446e59f58e3021e66b3,fe077ec80df6b4ee60bb4498d5ab1962,fe6a9515d655fa7936b8a7c841039f34,fe75529a267b76ac6e96f0c322a899a4,fe9dfbe7f974621789683b7b78be2a16,fecf6223a3494f35362f670e571d2a04,fed5c40c27e1c88560a9e92d82ee0825,ff29d8cb1cd0cd5ea37b80dac9939e1c,ffc9caf33e2d1e9f44e3e06da19085f7
008cff0e5792219fae03e570f980b330,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
00ba6d766f0b1d7b78a5ce3e1e033263,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
00de7f393d962717eeeb2d7131a40dba,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
014a8a503291921f7b004a5215bb3c36,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
0152f69b6cf919bcdaf117aa8c43e5a2,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fe9dfbe7f974621789683b7b78be2a16,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000
fecf6223a3494f35362f670e571d2a04,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000
fed5c40c27e1c88560a9e92d82ee0825,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000
ff29d8cb1cd0cd5ea37b80dac9939e1c,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000
ffc9caf33e2d1e9f44e3e06da19085f7,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000

In [159]:
index = matriz_similaridade_produto.loc['014a8a503291921f7b004a5215bb3c36']
index.sort_values(ascending=False)[1:]

14dffa241a078aeaebaef48a49e807ca   0.119
dd6a505f83dd3c6326aa9856519e0978   0.049
8d98dedc3c19de17f1a090195e85d6b6   0.025
008cff0e5792219fae03e570f980b330   0.000
aba86c093ccdbac75b09111d57e50004   0.000
                                    ...
593236d0ff46b4299b4787fb8d43f7f0   0.000
59391e840980a4bb6df5f44d3d734df7   0.000
595fac2a385ac33a80bd5114aec74eb8   0.000
59ebd2c07d59483d0855b5b3d5e18728   0.000
ffc9caf33e2d1e9f44e3e06da19085f7   0.000
Name: 014a8a503291921f7b004a5215bb3c36, Length: 999, dtype: float64